(
	{display = 'arr::binary_search'; insert = '(${1:mixed needle}, ${2:array haystack}, ${3:[bool sort = false]});$0';},
	{display = 'arr::callback_string'; insert = '(${1:string str});$0';},
	{display = 'arr::extract'; insert = '(${1:array search}, ${2:string keys});$0';},
	{display = 'arr::map_recursive'; insert = '(${1:mixed callback}, ${2:array array});$0';},
	{display = 'arr::merge'; insert = '(${1:array array1}, ${2:array array2});$0';},
	{display = 'arr::overwrite'; insert = '(${1:array array1}, ${2:array array2});$0';},
	{display = 'arr::range'; insert = '(${1:[int step = 10]}, ${2:[int max = 100]});$0';},
	{display = 'arr::remove'; insert = '(${1:string key}, ${2:array array});$0';},
	{display = 'arr::rotate'; insert = '(${1:array source_array}, ${2:[bool keep_keys = true]});$0';},
	{display = 'arr::to_object'; insert = '(${1:array array}, ${2:[string class = stdClass]});$0';},
	{display = 'arr::unshift_assoc'; insert = '(${1:array array}, ${2:string key}, ${3:mixed val});$0';},
	{display = 'cookie::delete'; insert = '(${1:string name}, ${2:[string path = null]}, ${3:[string domain = null]});$0';},
	{display = 'cookie::get'; insert = '(${1:string name}, ${2:[mixed default = null]}, ${3:[bool xss_clean = false]});$0';},
	{display = 'cookie::set'; insert = '(${1:string name}, ${2:[mixed value = null]}, ${3:[int expire = null]}, ${4:[string path = null]}, ${5:[string domain = null]}, ${6:[bool secure = null]}, ${7:[bool httponly = null]});$0';},
	{display = 'date::adjust'; insert = '(${1:int hour}, ${2:string ampm});$0';},
	{display = 'date::ampm'; insert = '(${1:int hour});$0';},
	{display = 'date::days'; insert = '(${1:int month}, ${2:[int year = false]});$0';},
	{display = 'date::dos2unix'; insert = '(${1:[int timestamp = false]});$0';},
	{display = 'date::hours'; insert = '(${1:[int step = 1]}, ${2:[bool long = false]}, ${3:[int start = null]});$0';},
	{display = 'date::minutes'; insert = '(${1:[int step = 5]});$0';},
	{display = 'date::months'; insert = '();$0';},
	{display = 'date::offset'; insert = '(${1:string remote}, ${2:[string|bool local = true]});$0';},
	{display = 'date::seconds'; insert = '(${1:[int step = 1]}, ${2:[int start = 0]}, ${3:[int end = 60]});$0';},
	{display = 'date::timespan'; insert = '(${1:int time1}, ${2:[int time2 = null]}, ${3:[string output = years,months,weeks,days,hours,minutes,seconds]});$0';},
	{display = 'date::timespan_string'; insert = '(${1:int time1}, ${2:[int time2 = null]}, ${3:[string output = years,months,weeks,days,hours,minutes,seconds]});$0';},
	{display = 'date::unix2dos'; insert = '(${1:[int timestamp = false]});$0';},
	{display = 'date::years'; insert = '(${1:[int start = false]}, ${2:[int end = false]});$0';},
	{display = 'download::force'; insert = '(${1:[string filename = null]}, ${2:[mixed data = null]}, ${3:[string nicename = null]});$0';},
	{display = 'email::connect'; insert = '(${1:[string config = null]});$0';},
	{display = 'email::send'; insert = '(${1:string|array to}, ${2:string|array from}, ${3:string subject}, ${4:string message}, ${5:[bool html = false]});$0';},
	{display = 'expires::check'; insert = '(${1:[int seconds = 60]});$0';},
	{display = 'expires::check_headers'; insert = '();$0';},
	{display = 'expires::prevent_output'; insert = '();$0';},
	{display = 'expires::set'; insert = '(${1:[int seconds = 60]});$0';},
	{display = 'feed::create'; insert = '(${1:array info}, ${2:array items}, ${3:[string format = rss2]}, ${4:[string encoding = UTF-8]});$0';},
	{display = 'feed::parse'; insert = '(${1:string feed}, ${2:[int limit = 0]});$0';},
	{display = 'file::join'; insert = '(${1:string filename}, ${2:[string output = false]});$0';},
	{display = 'file::mime'; insert = '(${1:string filename});$0';},
	{display = 'file::split'; insert = '(${1:string filename}, ${2:[string output_dir = false]}, ${3:[int piece_size = 10]});$0';},
	{display = 'form::attributes'; insert = '(${1:array attr}, ${2:[string type = null]});$0';},
	{display = 'form::button'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]});$0';},
	{display = 'form::checkbox'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[bool checked = false]}, $[4:[string extra]]);$0';},
	{display = 'form::close'; insert = '(${1:[string extra]});$0';},
	{display = 'form::close_fieldset'; insert = '();$0';},
	{display = 'form::dropdown'; insert = '(${1:string|array data}, ${2:[array options = null]}, ${3:[string|array selected = null]}, ${4:[string extra]});$0';},
	{display = 'form::hidden'; insert = '(${1:string|array data}, ${2:[string value]});$0';},
	{display = 'form::input'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]});$0';},
	{display = 'form::label'; insert = '(${1:string|array data}, ${2:[string text = null]}, ${3:[string extra]});$0';},
	{display = 'form::legend'; insert = '(${1:[string text]}, ${2:[array data = null]}, ${3:[string extra]});$0';},
	{display = 'form::open'; insert = '(${1:[string action = null]}, ${2:[array attr = array()]}, ${3:[array hidden = null]});$0';},
	{display = 'form::open_fieldset'; insert = '(${1:[array data = null]}, ${2:[string extra]});$0';},
	{display = 'form::open_multipart'; insert = '(${1:[string action = null]}, ${2:[array attr = array()]}, ${3:[array hidden = array()]});$0';},
	{display = 'form::password'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]});$0';},
	{display = 'form::radio'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[bool checked = false]}, $[4:[string extra]]);$0';},
	{display = 'form::submit'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]});$0';},
	{display = 'form::textarea'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]}, ${4:[bool double_encode = true]});$0';},
	{display = 'form::upload'; insert = '(${1:string|array data}, ${2:[string value]}, ${3:[string extra]});$0';},
	{display = 'format::phone'; insert = '(${1:string number}, ${2:[string format = 3-3-4]});$0';},
	{display = 'format::url'; insert = '(${1:[string str]});$0';},
	{display = 'html::anchor'; insert = '(${1:string uri}, ${2:[string title = null]}, ${3:[array attributes = null]}, ${4:[string protocol = null]}, ${4:[bool escape_title = false]});$0';},
	{display = 'html::anchor_array'; insert = '(${1:array array});$0';},
	{display = 'html::attributes'; insert = '(${1:string|array attrs});$0';},
	{display = 'html::breadcrumb'; insert = '(${1:[array segments = null]});$0';},
	{display = 'html::email'; insert = '(${1:string email});$0';},
	{display = 'html::file_anchor'; insert = '(${1:string file}, ${2:[string title = null]}, ${3:[array attributes = null]}, ${4:[string protocol = null]});$0';},
	{display = 'html::image'; insert = '(${1:[string src = null]}, ${2:[string|array alt = null]}, ${3:[bool index = false]});$0';},
	{display = 'html::link'; insert = '(${1:string|array href}, ${2:string|array rel}, ${3:string|array type}, ${4:[string suffix = false]}, ${5:[string|array media = false]}, ${6:[bool index = false]});$0';},
	{display = 'html::mailto'; insert = '(${1:string email}, ${2:[string title = null]}, ${3:[array attributes = null]});$0';},
	{display = 'html::meta'; insert = '(${1:string|array tag}, ${2:[string value = null]});$0';},
	{display = 'html::panchor'; insert = '(${1:string protocol}, ${2:string uri}, ${3:[string title = null]}, ${4:[array attributes = false]});$0';},
	{display = 'html::script'; insert = '(${1:string|array script}, ${2:[bool index = false]});$0';},
	{display = 'html::specialchars'; insert = '(${1:string str}, ${2:[bool double_encode = true]});$0';},
	{display = 'html::specialurlencode'; insert = '(${1:string str}, ${2:[bool double_encode = true]});$0';},
	{display = 'html::stylesheet'; insert = '(${1:string|array style}, ${2:[string|array media = false]}, ${3:[bool index = false]});$0';},
	{display = 'inflector::camelize'; insert = '(${1:string str});$0';},
	{display = 'inflector::humanize'; insert = '(${1:string str});$0';},
	{display = 'inflector::plural'; insert = '(${1:string str}, ${2:[int count = null]});$0';},
	{display = 'inflector::singular'; insert = '(${1:string str}, ${2:[int count = null]});$0';},
	{display = 'inflector::uncountable'; insert = '(${1:string str});$0';},
	{display = 'inflector::underscore'; insert = '(${1:string str});$0';},
	{display = 'num::round'; insert = '(${1:int number}, ${2:[int nearest = 5]});$0';},
	{display = 'remote::status'; insert = '(${1:string url});$0';},
	{display = 'request::accepts'; insert = '(${1:[string type = null]}, ${2:[bool explicit_check = false]});$0';},
	{display = 'request::accepts_at_quality'; insert = '(${1:[string type = null]}, ${2:[bool explicit_check = false]});$0';},
	{display = 'request::is_ajax'; insert = '();$0';},
	{display = 'request::method'; insert = '();$0';},
	{display = 'request::preferred_accept'; insert = '(${1:array types}, ${2:[bool explicit_check = false]});$0';},
	{display = 'request::protocol'; insert = '();$0';},
	{display = 'request::referer'; insert = '(${1:[mixed default = false]});$0';},
	{display = 'security::encode_php_tags'; insert = '(${1:string str});$0';},
	{display = 'security::strip_image_tags'; insert = '(${1:string str});$0';},
	{display = 'security::xss_clean'; insert = '(${1:string str});$0';},
	{display = 'text::alternate'; insert = '(${1:[string str1]}, ${2:[str str2]});$0';},
	{display = 'text::auto_link'; insert = '(${1:string text});$0';},
	{display = 'text::auto_link_emails'; insert = '(${1:string text});$0';},
	{display = 'text::auto_link_urls'; insert = '(${1:string text});$0';},
	{display = 'text::auto_p'; insert = '(${1:string str});$0';},
	{display = 'text::bytes'; insert = '(${1:int bytes}, ${2:[string force_unit = null]}, ${3:[string format = null]}, ${4:[bool si = true]});$0';},
	{display = 'text::censor'; insert = '(${1:string str}, ${2:array badwords}, ${3:[string replacement = #]}, ${4:[bool replace_partial_words = false]});$0';},
	{display = 'text::limit_chars'; insert = '(${1:string str}, ${2:[int limit = 100]}, ${3:[string end_char = null]}, ${4:[bool preserve_words = false]});$0';},
	{display = 'text::limit_words'; insert = '(${1:string str}, ${2:[int limit = 100]}, ${3:[string end_char = null]});$0';},
	{display = 'text::random'; insert = '(${1:[string type = alnum]}, ${2:[int length = 8]});$0';},
	{display = 'text::reduce_slashes'; insert = '(${1:string str});$0';},
	{display = 'text::similar'; insert = '(${1:array words});$0';},
	{display = 'text::widont'; insert = '(${1:string str});$0';},
	{display = 'upload::required'; insert = '(${1:array file});$0';},
	{display = 'upload::save'; insert = '(${1:string|array file}. ${2:[string filename = null]}, ${3:[string directory = null], ${4:[int chmod = 0644]}});$0';},
	{display = 'upload::size'; insert = '(${1:array file}, ${2:array size});$0';},
	{display = 'upload::type'; insert = '(${1:array file}, ${2:array allowed_types});$0';},
	{display = 'upload::valid'; insert = '(${1:array file});$0';},
	{display = 'url::base'; insert = '(${1:[bool index = false]}, ${2:[bool protocol = false]});$0';},
	{display = 'url::current'; insert = '(${1:[bool qs = false]});$0';},
	{display = 'url::file'; insert = '(${1:string file}, ${2:[bool index = false]});$0';},
	{display = 'url::merge'; insert = '(${1:array arguments});$0';},
	{display = 'url::redirect'; insert = '(${1:[string|array uri]}, ${2:[string method = 302]});$0';},
	{display = 'url::site'; insert = '(${1:[string index]}, ${2:[string protocol = false]});$0';},
	{display = 'url::title'; insert = '(${1:string title}, ${2:[string separator = -]});$0';},
	{display = 'valid::alpha'; insert = '(${1:string str}, ${2:[bool utf8 = false]});$0';},
	{display = 'valid::alpha_dash'; insert = '(${1:string str}, ${2:[bool utf8 = false]});$0';},
	{display = 'valid::alpha_numeric'; insert = '(${1:string str}, ${2:[bool utf8 = false]});$0';},
	{display = 'valid::credit_card'; insert = '(${1:int number}, ${2:[string|array type = null]});$0';},
	{display = 'valid::date'; insert = '(${1:string str});$0';},
	{display = 'valid::decimal'; insert = '(${1:string str}, ${2:[array format = null]});$0';},
	{display = 'valid::digit'; insert = '(${1:string str}, ${2:[bool utf8 = false]});$0';},
	{display = 'valid::email'; insert = '(${1:string email});$0';},
	{display = 'valid::email_domain'; insert = '(${1:string email});$0';},
	{display = 'valid::email_rfc'; insert = '(${1:string email});$0';},
	{display = 'valid::ip'; insert = '(${1:string ip}, ${2:[bool ipv6 false]}, ${3:[bool allow_private = true]});$0';},
	{display = 'valid::numeric'; insert = '(${1:string str});$0';},
	{display = 'valid::phone'; insert = '(${1:string phone}, ${2:[array lengths = null]});$0';},
	{display = 'valid::standard_text'; insert = '(${1:string str});$0';},
	{display = 'valid::url'; insert = '(${1:string url});$0';},

)