<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; helper.php &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>txt</string>
	<key>name</key>
	<string>Create Helper</string>
	<key>uuid</key>
	<string>7CE4C3A5-67D8-43CC-806A-40FCECCCE8DF</string>
</dict>
</plist>
